html {
    height: 100%;
}

body {
    background-image: url('bg_new.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 190% 160%;
    background-size: 100% 100%;
    color: white;
    font-family: "ALGERIAN";
    margin: 0px;
    height: 100%;
    padding: 0;
}

img {
    min-height: 0px;
    min-width: 0px;
}

.btn {
    cursor: pointer;
}

#categoryOpt {
    color: blue;
}

#categoryOptNew {
    color: blue;
}

#gameOpt {
    color: black;
}


#ansTyped {
    color: green;
}

#maincontent {
    font-family: "ALGERIAN";
    
}

.header_wrap {
    height: 15%;
}

.banner {
    font-size: 40px;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: "ALGERIAN";
}

.banner_msg {
    font-size: 20px;
    padding: 5px;
    text-align: left;
    color: white;
    font-family: "ALGERIAN";
}

.main_content {
    color: #7cf;
    font-size: 20px;
    text-align: center;
  
}

.categoryDiv {
    background: red;
    background-image: url('icon-new.png');
    margin-top: 5px;
    color: white;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: cover;
    width: 60%;
    margin-left: 20%;
}

.absolute-center {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.countdown {
    font-size: 40px;
    color: #4cff00;
    /*color:red;*/
}

