html {
    height: 100%;
}

body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: cursive;
    margin: 0px;
    padding: 0;
    text-shadow: 2px 2px #3B0B0B;   
}

input
{
    font-family:cursive;
}

.btn {
    cursor: pointer;
}

#gameOpt {
    color: black;
}

#ansTyped {
    color: #81F7F3;
}

#maincontent {
    font-family: cursive;
    text-shadow: 2px 2px #3B0B0B;    
}

#successmsg {
    font-family: cursive;
    color:#86B404;
    background: rgba(59,11, 11, 0.60);
    width:90%;
    margin-left:5%;
    border-radius:10px;
}

.header_wrap {
    height: 15%;
}

#prestart_content {
    color: #D7DF01;
    background: rgba(59,11, 11, 0.60);
    font-family: cursive;
}

#answer_clue_wrap {    
     background: rgba(59,11, 11, 0.60);
     width:90%;
     margin:5%;
     border-radius:10px;
     color:#D7DF01;
}

.answerdiv {
    background: rgba(59,11, 11, 0.60);
     width:90%;
     margin-left:5%;
     border-radius:10px;
     border:1px solid black;
}

#answers {     
     color:#86B404;     
}


#answersheader {
    color:white;        
}

.ansCategory {    
    border:1px solid black;
    color:#D7DF01;
}
.ansdetail {
    color:#86B404;
}

.banner {
    font-size: 40px;
    padding: 5px;
    text-align: center;
    color: #B43104;
    font-family: cursive;
    text-shadow: 2px 2px #3B0B0B;
}

.banner_msg {
    font-size: 20px;
    padding: 5px;
    text-align: left;
    color: white;
    font-family: cursive;
    background-image: url('back_button.png');
    background-size:cover;
    background-position:center;
    width:10%;
    height:20%;
}

.main_content {
    font-size: 20px;
    text-align: center;  
}

.categoryDiv {
    background: red;
    background-image: url('icon-new.png');
    margin-top: 5px;
    color: white;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: cover;
    width: 60%;
    margin-left: 20%;
}

.absolute-center {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

#countdown_wrap {    
    font-size: 40px;
    color: white; 
}
